.nav {
    height: 50px;
    /* width: 100vw; */
    padding: 10px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    /* text-transform: uppercase; */
    letter-spacing: 2px;
}

.nav ul {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* width: 60%; */
}

.nav ul li a {
    margin: 5px 15px;
    letter-spacing: 3px;
}

.burger div {
    background-color: #fff;
    width: 17px;
    height: 2px;
    margin: 3px;
}

.burger {
    display: none;
}


@media screen and (max-width: 820px) {

    .burger {
        display: flex;
        flex-direction: column;

    }

    .nav ul {
        position: absolute;
        right: 0px;
        height: 96vh;
        top: 4vh;
        background-color: #000;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        width: 30%;
        min-width: 120px;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 383px) {
 
    .logo {
        width: 100vw;
        font-size: 0.7em;
    }

    .burger div {
        background-color: #fff;
        width: 15px;
        height: 1px;
        margin: 2px;
    }
    
}
